<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hop</title>

    <!-- Materialize CSS and Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <!-- nav bar -->
    <header>
        <nav>
            <div class="nav-wrapper blue darken-2">
                <a href="/" style="padding-left: 10px;" class="brand-logo">IHOP</a>
                <ul id="nav-mobile" class="right">
                    <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
                    <li><a href="/visualizer"><i class="material-icons left">restaurant</i>Menu</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- Actual page content! -->
    <div class="container">
        <div class="section flow-text" id="details">
            <h1>Order information</h1>
            <table>
                <tr>
                    <th>Amount:</th>
                    <td><%= menu.amount %></td> <!-- <%= menu.amount %> -->
                </tr>
                <tr>
                    <th>Name:</th>
                    <td><%= menu.menu_name %></td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td>$<%= menu.price %></td>
                </tr>
                <tr>
                    <th>Description:</th>
                    <td>
                        <%= menu.menu_desc %>
                    </td>
                </tr>
            </table>
        </div>

        <div class="section" id="controls">
            <a class="btn-large waves-effect waves-light orange left modal-trigger" href="#edit">
                <i class="material-icons right">edit</i>
                Edit
            </a>
            <a class="btn-large waves-effect waves-light red right" href="/visualizer/<%= menu.menu_id %>/delete">
                <i class="material-icons right">delete</i>
                Delete
            </a>
        </div>


        <div class="modal" id="edit">
            <div class="modal-content">
                <h3>Edit order:</h3>
                <form id="updateForm">
                    <div class="row">


                            <div class="input-field col s8">
                                <select type="number" id="ingredientInput" name="ingredients">
                                    <option value="" disabled>Choose: </option>
                                    <% if (menu.menu_name=='Pancakes' ) { %>
                                        <option value=1 <% if (menu.order_type=='Buttermilk' ) { %> selected <% } %>>Buttermilk</option>
                                        <option value=2 <% if (menu.order_type=='Buckwheat' ) { %> selected <% } %>>Buckwheat</option>
                                        <option value=3 <% if (menu.order_type=='Keto' ) { %> selected <% } %>>Keto</option>
                                        <option value=4 <% if (menu.order_type=='Souffle' ) { %> selected <% } %>>Souffle</option>
                                    <% } else if (menu.menu_name=='Classic Chicken Sandwich' ) { %>
                                        <option value=5 <% if (menu.order_type=='Grilled Chicken' ) { %> selected <% } %>>Grilled Chicken</option>
                                        <option value=6 <% if (menu.order_type=='Barbeque Chicken' ) { %> selected <% } %>>Barbeque Chicken</option>
                                        <option value=7 <% if (menu.order_type=='Fried Chicken' ) { %> selected <% } %>>Fried Chicken</option>
                                    <% } else { %>
                                        <option value=8 >Customization not avaliable</option>
                                    <% } %>
                                </select>
                                <label for="ingredientInput">Order Type</label>
                            </div>
                        </div>



                        <div class="input-field col s4">
                            <input type="number" id="amountInput" name="priority" class="validate" min=1 max=10 value="<%= menu.amount %>">
                            <label for="amountInput">Amount:</label>
                        </div>


                        <!-- <div class="input-field col s6">
                            <form action="#" id="addonInput" name="addons">
                                <p>
                                    <label>Add-ons:</label>
                                </p>
                                <p>
                                    <label>
                                        <input type="checkbox" class="filled-in" />
                                        <span>Blueberries</span>
                                    </label>
                                </p>
                                <p>
                                    <label>
                                        <input type="checkbox" class="filled-in" />
                                        <span>Strawberries</span>
                                    </label>
                                </p>
                                <p>
                                    <label>
                                        <input type="checkbox" class="filled-in" />
                                        <span>Bananas</span>
                                    </label>
                                </p>
                            </form>
                        </div> -->
                        <div class="input-field col s6">
                            <form action="#" id="addonInput" name="addons">
                                <p>
                                    <label>Add-ons:</label>
                                </p>
                                <% const availableAddons= { 
                                        'Pancakes' : ['Blueberries', 'Strawberries' , 'Bananas' ], 
                                        'Omelette' : ['Mushrooms', 'Onions' , 'Peppers' ], 
                                        'Classic Chicken Sandwich' : [ 'Extra Cheese', 'Extra Sauce' , 'Extra Mayo' ] 
                                    }; 
                                    const currentAddons=availableAddons[menu.menu_name] || []; %> 
                                    <% currentAddons.forEach(function(addon) { %>
                                        <p>
                                            <label>
                                                <input type="checkbox" class="filled-in" <% if (addons.includes(addon)) { %> checked <% } %> />
                                                    <span>
                                                        <%= addon %>
                                                    </span>
                                            </label>
                                        </p>
                                    <% }); %>
                            </form>
                        </div>
                    </div>
                </form>
                <!-- A section for the footer of the modal -->
                <div class="modal-footer">
                    <!-- Since the submit button is not within the form, it must have the form attribute specified-->
                    <button class="btn waves-effect waves-light " type="submit" form="updateForm">
                        <i class="material-icons right">send</i>
                        Submit
                    </button>
                    <button class="modal-close waves-effect waves-green btn-flat">Never Mind</button>
                </div>

            </div>

        </div>
    </div>


    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Auto-initialize Materialize elements (Note - more specific initialization may be required for certain elements)
            Reference: https://materializecss.com/auto-init.html -->
    <script src="/scripts/materializeAutoInit.js"></script>

</body>

</html>