<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hop</title>

    <!-- Materialize CSS and Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/stylesheets/visualizerStyle.css">
</head>

<body>
    <!-- nav bar -->
    <header>
        <nav>
            <div class="nav-wrapper blue darken-2">
                <a href="/" style="padding-left: 10px;" class="brand-logo">IHOP</a>
                <ul id="nav-mobile" class="right">
                    <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
                    <li><a href="/visualizer"><i class="material-icons left">restaurant</i>Menu</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- Order List -->
    <div class="container">
        <div class="section" id="list">
            <h1>Your Order:</h1>
            <table>
                <thead>
                    <tr>
                        <th>Quantity</th>
                        <th>Item</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i=0; i < menuorder.length; i++) { %>
                        <tr>
                            <td><%= menuorder[i].amount %></td>
                            <td><%= menuorder[i].menu_name %></td>
                            <td>$<%= menuorder[i].price %></td>
                            <td>
                                <a class="btn-small waves-effect waves-light" href="/visualizer/<%= menuorder[i].menu_id %>">
                                    <i class="material-icons right">edit</i>
                                    Edit
                                </a>
                                <a class="btn-small waves-effect waves-light red" href="/visualizer/<%= menuorder[i].menu_id %>/delete">
                                    <i class="material-icons right">delete</i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Menu Container -->
    <div class="container">
        <h2>Menu</h2>
        <form id="menu_items" action="/visualizer" method="post">  
            <div class="row">
                <div class="col s12">
                    <!-- Menu Items -->
                    <div class="col s4">
                        <input type="hidden" id="amount" name="amount">
                        <input type="hidden" id="menu_name" name="menu_name">
                        <input type="hidden" id="price" name="price">
                        <!-- <input type="hidden" id="desc" name="description"> -->
                        <!-- <input type="hidden" id="order_type" name="order_type"> -->

                        <div class="card hoverable">
                            <div class="card-image">
                                <img src="images/chickensandwich.png">
                                <button type="submit" class="btn-floating halfway-fab waves-effect waves-light red" onclick="submitForm('chickensandwich')">
                                    <i class="material-icons">add</i>
                                </button>
                            </div>
                            <div class="card-content">
                                <span class="card-title">Classic Chicken Sandwich</span>
                                <p>$8.43</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s4">
                        <input type="hidden" id="amount" name="amount">
                        <input type="hidden" id="menu_name" name="menu_name">
                        <input type="hidden" id="price" name="price">
                        <!-- <input type="hidden" id="desc" name="description"> -->
                        <!-- <input type="hidden" id="order_type" name="order_type"> -->

                        <div class="card hoverable">
                            <div class="card-image">
                                <img src="images/pancake.png">
                                <button type="submit" class="btn-floating halfway-fab waves-effect waves-light red" onclick="submitForm('pancake')">
                                    <i class="material-icons">add</i>
                                </button>
                            </div>
                            <div class="card-content">
                                <span class="card-title">Pancakes</span>
                                <p>$9.29</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s4">
                        <input type="hidden" id="amount" name="amount">
                        <input type="hidden" id="menu_name" name="menu_name">
                        <input type="hidden" id="price" name="price">
                        <!-- <input type="hidden" id="desc" name="description"> -->
                        <!-- <input type="hidden" id="order_type" name="order_type"> -->

                        <div class="card hoverable">
                            <div class="card-image">
                                <img src="images/cocacola.png">
                                <button type="submit" class="btn-floating halfway-fab waves-effect waves-light red" onclick="submitForm('cola')">
                                    <i class="material-icons">add</i>
                                </button>
                            </div>
                            <div class="card-content">
                                <span class="card-title">Coke</span>
                                <p>$0.99</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s4">
                        <input type="hidden" id="amount" name="amount">
                        <input type="hidden" id="menu_name" name="menu_name">
                        <input type="hidden" id="price" name="price">
                        <!-- <input type="hidden" id="desc" name="description"> -->
                        <!-- <input type="hidden" id="order_type" name="order_type"> -->

                        <div class="card hoverable">
                            <div class="card-image">
                                <img src="images/water.png">
                                <button type="submit" class="btn-floating halfway-fab waves-effect waves-light red" onclick="submitForm('water')">
                                    <i class="material-icons">add</i>
                                </button>
                            </div>
                            <div class="card-content">
                                <span class="card-title">Water</span>
                                <p>$0.99</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s4">
                        <input type="hidden" id="amount" name="amount">
                        <input type="hidden" id="menu_name" name="menu_name">
                        <input type="hidden" id="price" name="price">
                        <!-- <input type="hidden" id="desc" name="description"> -->
                        <!-- <input type="hidden" id="order_type" name="order_type"> -->

                        <div class="card hoverable">
                            <div class="card-image">
                                <img src="images/egg.png">
                                <button type="submit" class="btn-floating halfway-fab waves-effect waves-light red" onclick="submitForm('omelette')">
                                    <i class="material-icons">add</i>
                                </button>
                            </div>
                            <div class="card-content">
                                <span class="card-title">Omelette</span>
                                <p>$13.37</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Auto-initialize Materialize elements (Note - more specific initialization may be required for certain elements)
        Reference: https://materializecss.com/auto-init.html -->
    <script src="/scripts/materializeAutoInit.js"></script>

    <script src="/scripts/script.js"></script>

</body>
</html>